/* === Featured Collections Grid Styles === */
.fc-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1410px;
  margin: 0 auto;
}

.fc-header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 601px;
  align-items: center;
}

.fc-header .section-title,
.fc-header .section-subtitle {
  margin: 0 !important;
  line-height: 1;
}

.fc-grid {
  display: grid;
}

.grid-fc-desktop {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  grid-template-areas:
    "clothing sunglasses sneaker"
    "clothing bags sneaker";
  min-height: 730px;
}

@media (max-width: 767px) {
  .fc-container {
    width: min(390px, 100%);
    max-width: 390px;
    min-height: 570px;
    padding: 0;
    gap: 20px;
    margin: 0 auto;
  }

  .fc-header {
    width: 100%;
    height: 86px;
    gap: 15px;
  }

  .fc-header .section-title {
    width: 100%;
    max-width: 310px;
    line-height: 1;
    text-align: center;
  }

  .fc-header .section-subtitle {
    width: 100%;
    max-width: 390px;
    text-align: center;
  }

  .fc-grid {
    position: relative;
    width: 100%;
    max-width: 390px;
    min-height: 464px;
    height: 464px;
    display: block;
  }

  .fc-card {
    position: absolute;
    width: 185px;
    border-radius: 10px;
    overflow: hidden;
    min-height: 0;
    flex: none;
  }

  .item-clothing {
    top: 0;
    left: 0;
    height: 300px;
  }

  .item-bags {
    top: 0;
    left: 205px;
    height: 144px;
  }

  .item-sunglasses {
    top: 320px;
    left: 0;
    height: 144px;
  }

  .item-sneaker {
    top: 164px;
    left: 205px;
    height: 300px;
  }

  .fc-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .fc-card .btn {
    min-width: 120px;
    height: 40px;
    bottom: 20px;
    position: absolute;
  }
}

@media (max-width: 1023px) {
  .lgd\:grid-fc-tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: clamp(144px, auto, 185px);
    grid-template-areas:
      "clothing bags"
      "clothing sneaker"
      "sunglasses sneaker";
  }
}

.item-clothing { grid-area: clothing; }
.item-sunglasses { grid-area: sunglasses; }
.item-bags { grid-area: bags; }
.item-sneaker { grid-area: sneaker; }

.fc-card--tall {
  grid-row: span 2;
}

.fc-card img {
  height: 100%;
  object-fit: cover;
}

.fc-card .btn {
  font-weight: 500;
  font-size: 16px;
}

.fc-card .btn:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.sm\:w-calc-10 {
  width: calc(100% - 20px);
}
